body {
    background-color: rgb(19, 19, 19);
    font-family: 'Arial', serif, sans-serif;
    color: white;
}
hr {
    left: 0;
    right: 0;
    border: 1px solid #363636;
}
right {
    text-align: right;
    align-items: right;
}
spacing {
  margin-left: 10px;
}
nav a {
    color: gray;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}
nav a:hover {
    color: rgba(255, 255, 255, 1.0);
}